@tailwind base;
@tailwind components;
@tailwind utilities;

.heading1 {
    @apply text-[1.5rem] font-mono border-b-[1.5px] border-gray-300 w-full mb-4 my-2 pb-2 text-center;
}

.paragraph1 {
    @apply text-justify my-2;
}

.link {
    @apply hover:underline;
}

/* style this checkbox */
.checkbox1 {
    @apply mx-2 align-middle;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 220, 220, 220;
        --background-start-rgb: 30, 32, 30;
        --background-end-rgb: 30, 32, 30;
    }
}

body {
    background: rgb(var(--background-start-rgb));
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
