@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.text-14px {
    font-size: 14px;
}

.active-link {
    @apply bg-[#404040] rounded-md;
}

.hover-link {
    @apply bg-[#404040] rounded-md;
}

.category-box {
    @apply nav-back p-5 w-full rounded-md;
}

.heading1 {
    @apply text-[2rem] w-full mt-1 mb-2 pb-2 font-semibold border-b border-white border-opacity-20;
    font-variant: small-caps;
}

.heading2 {
    @apply text-[1.5rem] w-full mt-1 mb-2 pb-2 font-semibold;
    font-variant: small-caps;
}

.small-caps {
    font-variant: small-caps;
}

.nav-heading {
    @apply text-[0.8rem] mb-3 w-52 opacity-70 pl-2;
}

.paragraph1 {
    @apply text-justify my-2;
}

.paragraph1-nomy {
    @apply text-justify;
}

.news-paragraph {
    @apply text-justify;
}

.link {
    @apply hover:underline;
}

.nav-link {
    @apply text-[0.9rem] pl-1 font-semibold;
}

.checkbox1 {
    @apply mx-2 align-middle;
}

.shadow-right {
    box-shadow: 2px 0 1.5px rgba(255, 255, 255, 0.1);
}

.menu-transition {
    transition: transform 0.2s ease;
    transform: translateX(-100%);
}

.menu-open {
    transform: translateX(0);
}

@media (min-width: 1300px) {
    .menu-transition {
        transform: translateX(0);
    }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --nav-back: 23, 23, 23;
}

.nav-back {
    background: rgb(var(--nav-back));
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 230, 230, 230;
        --background-start-rgb: 5, 5, 5;
        --background-end-rgb: 5, 5, 5;
    }
}

body {
    background: rgb(var(--background-start-rgb));
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* form */
.custom-select {
    background-color: #1a1a1a; /* Background color */
    padding: 2px; /* Padding */
    border: 1px solid #333333; /* Border */
    border-radius: 3px; /* Rounded corners */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

/* Style the options */
.custom-select option {
    background-color: #1a1a1a; /* Background color */
    color: #ffffff; /* Text color */
}

/* Style the dropdown */
.custom-select:focus {
    outline: none; /* Remove default outline */
    border-color: #555555; /* Border color on focus */
}

.hover-scale {
    transition: transform 0.2s ease; /* Add transition for smooth effect */
}

.hover-scale:hover {
    --tw-scale-x: 1.01;
    --tw-scale-y: 1.01;
    transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0))
        rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0))
        skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x))
        scaleY(var(--tw-scale-y));
}
